body {
  color: black;
  background: white;
  font-family: 'Roboto', sans-serif;
}

// Navbar

.uk-navbar-container {
  &:not(.uk-navbar-transparent){
    background: white;
  }

  .uk-icon-button{
    background: white;
  }
}

//// Home page
//
//#home {
//  background: #f8f8f8;
//}

.uk-logo {
  fill: black !important;
  stroke: black !important;
  color: black !important;
}


