<table class="table table-dark table-borderless table-responsive">
    <tbody>
    {{ $present := where . "to" "Present" }}
    {{ range sort $present "from" "desc" }}
        <tr class="gol-tr-bgcolor">
            <td>{{ dateFormat "January, 2006" .from }} - {{ .to }}</td>
            <td>
                <strong>{{ .title }}</strong>
                <p><em>{{ if .where }}{{ .where }},{{ end }} {{ .location }}</em></p>
                {{ if .description }}
                    <ul>
                        {{ range .description }}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                {{end}}
            </td>
        </tr>
    {{ end }}

    {{ $noPresent := where . "to" "!=" "Present" }}
    {{ range sort $noPresent "from" "desc" }}
        <tr>
            <td>{{ dateFormat "January, 2006" .from }} - {{ dateFormat "January, 2006" .to }}</td>
            <td>
                <strong>{{ .title }}</strong>
                <p><em>{{ if .where }}{{ .where }},{{ end }} {{ .location }}</em></p>
                {{ if .description }}
                    <ul>
                        {{ range .description }}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                {{end}}
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>