<ul class="timeline">
    {{ $present := where . "to" "Present" }}
    {{ range sort $present "from" "desc" }}
        <li class="timeline-item mb-5">
            <p>{{ dateFormat "January, 2006" .from }} - {{ .to }}</p>
            <h5>{{ .title }}</h5>
            <p><em>{{ if .where }}{{ .where }},{{ end }} {{ .location }}</em></p>
            {{ if .description }}
                <ul>
                    {{ range .description }}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            {{end}}
        </li>
    {{ end }}

    {{ $noPresent := where . "to" "!=" "Present" }}
    {{ range sort $noPresent "from" "desc" }}
    <li class="timeline-item mb-5">
        <p>{{ dateFormat "January, 2006" .from }} - {{ dateFormat "January, 2006" .to }}</p>
        <h5>{{ .title }}</h5>
        <p><em>{{ if .where }}{{ .where }},{{ end }} {{ .location }}</em></p>
        {{ if .description }}
            <ul>
                {{ range .description }}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        {{end}}
    </li>
    {{ end }}
</ul>
