<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="author" content="{{.Site.Params.title}}" />

<title>{{ if ne .Site.Title .Title }}{{.Title}} &mdash; {{ end }}{{.Site.Title}}</title>
<link rel="canonical" href="{{.Permalink}}" />

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/img/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/favicon-180-precomposed.png">
<link rel="manifest" href="/img/icons/manifest.json">
<link rel="icon" sizes="192x192" href="/img/icons/favicon-192.png">

{{ $sassTemplate := resources.Get "scss/custom.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "css/main.scss" . | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

{{if .IsHome }}
    {{partial "schema/website.html" .}}
{{end}}
