{{ define "head" }}
    {{/* TODO: add pagination */}}
    {{ range $index, $element := .Pages }}
        {{ if .Params.images }}
            <link rel="preload" href="{{ index .Params.images 0 }}" as="image">
        {{ end }}
    {{ end }}

    {{ partial "schema/website.html" . }}
{{ end }}

{{ define "main" }}
    <main class="container rounded-sm-3 bg-dark text-white my-5 p-4 h-100 fs-6">
        <div class="row pb-4">
            <div class="col"><h1>{{.Title}}</h1></div>
        </div>

        {{ $pageGroup := (.Paginate (.Pages.GroupByPublishDate "2006")).PageGroups }}
        {{ $lenPageGroup := len $pageGroup }}

        {{ range $pageGroupIndex, $pageGroupElement := $pageGroup }}
            {{ $pages := $pageGroupElement.Pages}}
            {{$lenPages := len $pages}}

            {{ range $pageIndex, $pageElement := $pages }}
                <article class="row mt-3">
                    {{ if .Params.images }}
                        <div class="row my-2">

                            <div class="col-md-4 offset-md-4">
                                <img src="{{ index .Params.images 0 }}" class="img-fluid" alt="{{.Title}}">
                            </div>
                        </div>
                    {{end}}

                    <div class="col-md-3 my-2">
                        {{ range .Params.categories }} <span class="badge bg-danger">#{{.}}</span> {{end}}
                        <br>
                        <small class="d-none">
                            <time datetime="{{.PublishDate}}"
                                  itemprop="datePublished">{{.PublishDate.Format "January 2, 2006"}}</time>
                        </small>
                    </div>
                    <div class="col">
                        <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
                        <p>{{.Description}}</p>
                    </div>
                </article>
                {{ if or (ne $lenPageGroup (add $pageGroupIndex 1)) (ne $lenPages (add $pageIndex 1)) }}
                    <hr>
                {{end}}
            {{end}}
        {{end}}
        {{ partial "pagination.html" . }}
    </main>
{{ end }}
