{{ define "head" }}
    {{ partial "schema/website.html" . }}
{{ end }}

{{ define "main" }}
    <main class="container rounded-sm-3 bg-dark text-white my-5 p-4 h-100 fs-5">
        <div class="row pb-4">
            <div class="col"><h1>{{.Title}}</h1></div>
        </div>
        <div class="row row-cols-1 row-cols-md-4">

            {{ range (.Paginate (.Pages.GroupByPublishDate "2006")).PageGroups }}
                {{ range $index, $element := .Pages }}
                    <div class="col mb-4">
                        <div class="card shadow bg-primary h-100">
                            {{ if .Params.images }}
                                <img src="{{ index .Params.images 0 }}" class="card-img-top" alt="{{.Title}}">
                            {{end}}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{.Title}}</h5>
                                <p class="card-text">{{.Description}}</p>
                                <a href="{{.Permalink}}" class="btn btn-outline-info stretched-link mt-auto">Read More &longrightarrow;</a>
                            </div>
                            <div class="card-footer">
                                <small><time datetime="{{.PublishDate}}" itemprop="datePublished">{{.PublishDate.Format "January 2, 2006"}}</time> &hyphen; {{ range .Params.tags }} <span class="badge bg-dark">#{{.}}</span> {{end}}</small>
                            </div>
                        </div>
                    </div>
                {{end}}
            {{end}}
            {{ partial "pagination.html" . }}

        </div>
    </main>
{{ end }}