{{ define "head" }}
    {{/* TODO: add pagination */}}
    {{ range $index, $element := .Pages }}
        {{ if .Params.images }}
            <link rel="preload" href="{{ index .Params.images 0 }}" as="image">
        {{ end }}
    {{ end }}

    {{ partial "schema/website.html" . }}
{{ end }}

{{ define "main" }}
    <main class="container rounded-sm-3 bg-dark text-white my-5 p-4 h-100 fs-6">
        <div class="row pb-4">
            <div class="col"><h1>{{.Title}}</h1></div>
        </div>

        {{ $pageGroup := (.Paginate (.Pages.GroupByPublishDate "2006")).PageGroups }}
        {{ $lenPageGroup := len $pageGroup }}

        {{ range $pageGroupIndex, $pageGroupElement := $pageGroup }}
            {{ $pages := $pageGroupElement.Pages}}
            {{$lenPages := len $pages}}

            {{ range $pageIndex, $pageElement := $pages }}
                <div class="card single_post bg-dark">
                    <div class="body">
                        {{ if .Params.images }}
                        <div class="img-post">
                         <a href="{{.RelPermalink}}"><img class="d-block img-fluid" src="{{ index .Params.images 0 }}" alt="{{.Title}}"></a>
                        </div>
                        {{end}}
                        <h2><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
                        <p>{{.Description}}</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="{{.RelPermalink}}" class="btn btn-outline-success card-link strecthed-link">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li>{{ range .Params.categories }} <span class="badge bg-danger">#{{.}}</span> {{end}}</li>
                            <li class="d-none"><time datetime="{{.PublishDate}}" class="text-white" itemprop="datePublished">{{.PublishDate.Format "January 2, 2006"}}</time></li>
                        </ul>
                    </div>
                </div>
                {{ if or (ne $lenPageGroup (add $pageGroupIndex 1)) (ne $lenPages (add $pageIndex 1)) }}
                    <hr>
                {{end}}
            {{end}}
        {{end}}
        {{ partial "pagination.html" . }}
    </main>
{{ end }}
