{{ define "head" }}
    {{ partial "schema/article.html" . }}
{{ end }}

{{ define "main" }}
    <main class="container rounded-sm-3 bg-dark text-white my-5 p-4 fs-6">
        <div class="row">
            <div class="col-md-12">
                <h1>{{.Title}}</h1>
                <p><small class="text-muted"><time datetime="{{.PublishDate}}" itemprop="datePublished">{{.PublishDate.Format "January 2, 2006"}}</time> &bullet; {{ range .Params.tags }}
                            <a class="link-light" href="{{ `/tags/` | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
                        &bullet; {{ .ReadingTime }} minutes to read</small></p>
            </div>
        </div>
        {{ if .Params.images }}
            <div class="row">
                <div class="col px-0 text-center">
                    <img src="{{ index .Params.images 0 }}" class="img-fluid" alt="{{.Title}}">
                </div>
            </div>
        {{end}}
        <div class="row">
            <div class="col-md-12">
                <p class="lh-base">{{.Content}}</p>
            </div>
        </div>
        <hr>
        <div class="row pt-5">
            <div class="col-md-12">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </main>
{{ end }}