<!doctype html>
<html lang="en">

{{- partial "head.html" . -}}

<body class="uk-height-1-1">
{{- partial "nav.html" . -}}

<div id="home" class="uk-background-cover uk-overflow-hidden uk-dark uk-flex uk-flex-top" uk-height-viewport="offset-top: true">

    <div class="uk-grid-collapse uk-margin-auto uk-margin-auto-vertical" uk-grid>
        <div class="uk-width-auto@m">
            <div class="uk-container">
                <img src="/img/keertana-long.jpg" alt="{{ .Site.Title }}" width="300" class="uk-border-rounded uk-box-shadow-xlarge">
            </div>
        </div>

        <div class="uk-width-expand@m uk-margin-auto-vertical">
            <div class="uk-container">
                <h1>{{ .Site.Title }}</h1>
                {{ .Content }}
            </div>
        </div>
    </div>

</div>

{{- partial "scripts.html" . -}}

</body>
</html>