<!doctype html>
<html lang="en" class="h-100">
<head>
    {{- partial "head.html" . -}}
</head>

<body class="h-100">

{{ partial "nav.html" . }}

<main class="container h-100 d-flex fs-5">
    <div class="row text-white rounded-3 align-self-center justify-content-center align-items-center shadow-lg bg-blur mx-auto">
        <div class="col-md">
            <div class="text-center p-lg-5 pt-3">
                <h1 hidden>{{.Site.Params.title}}</h1>
                <img src="{{ (resources.Get "img/logo.svg").RelPermalink }}" alt="{{.Site.Params.title}}" width="350" class="img-fluid">
                <p>{{.Site.Params.description}}</p>
                <p><a href="{{.Site.Params.linkedin}}" class="text-white"><span class="fab fa-linkedin fa-2x"></span></a></p>
            </div>
        </div>
        <div class="col-md-auto text-center p-0">
            <img src="{{(resources.Get .Site.Params.photo).RelPermalink}}" class="img-fluid rounded-3 float-lg-end" width="400"
                 alt="{{.Site.Title}}">
        </div>
    </div>
</main>

{{- partial "scripts.html" . -}}

</body>
</html>