<!doctype html>
<html lang="en" class="h-100">

{{- partial "head.html" . -}}

<body class="d-flex h-100 text-center">

<div id="home" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="mb-auto">
        <div>
            <nav class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                {{ range .Site.Menus.main }}
                <!--        if active use link-secondary-->
                <a href="{{ .URL }}" class="nav-link px-2 link-dark">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>

    </header>

    <main class="px-3">
        <div class="row">
            <div class="col">
                <img src="/img/keertana-long.jpg" alt="{{ .Site.Title }}" width="300"
                     class="img-fluid rounded rounded-circle">
            </div>

            <div class="col align-self-center">
                <h1>{{ .Site.Title }}</h1>
                <p>{{.Content}}</p>
                {{ if .Site.Params.linkedin }}
                <a href="{{ .Site.Params.linkedin }}"
                   onclick="ga('send', 'event', 'navbar', 'click', 'LinkedIn')"><span class="fab fa-linkedin-in fa-2x"></span></a>
                {{ end }}

            </div>
        </div>
    </main>

    <footer class="mt-auto"></footer>

</div>

{{- partial "scripts.html" . -}}

</body>
</html>