{{ define "head" }}
    {{ partial "schema/website.html" . }}
{{ end }}

{{ define "main" }}
    <main class="container rounded-sm-3 bg-dark text-white my-5 p-4 fs-5">
        <div class="row bg-dark text-white">
            <div class="col-md-12">
                <p class="lh-base">{{.Content}}</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                {{ range $k, $i := .Site.Data.Experience }}
                    <h2>{{$k}}</h2>
                    {{ partial "aboutDetailsTable.html" . }}
                {{ end }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">

                {{ range $k, $i := .Site.Data.Certification }}
                    <h2>{{$k}}</h2>
                    <ul>
                        {{ range . }}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                {{ end }}

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                {{ range $k, $i := .Site.Data.Education }}
                    <h2>{{$k}}</h2>
                    {{ partial "aboutDetailsTable.html" . }}
                {{ end }}
            </div>
        </div>
    </main>
{{ end }}